<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @check_in.user %>
</p>

<p>
  <strong>Location:</strong>
  <%= @check_in.location %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @check_in.roast %>
</p>

<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', check_ins_path %>
