<p id="notice"><%= notice %></p>

<h1>Roasts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Roaster</th>
      <th>Harvester</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roasts.each do |roast| %>
      <tr>
        <td><%= roast.name %></td>
        <td><%= roast.origin %></td>
        <td><%= roast.roaster %></td>
        <td><%= roast.harvester %></td>
        <td><%= roast.description %></td>
        <td><%= link_to 'Show', roast %></td>
        <td><%= link_to 'Edit', edit_roast_path(roast) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roast', new_roast_path %>
