<!DOCTYPE html>
<html>
  <head>
    <title>Coffeer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap">
    <% if user_signed_in? %>
    <nav>
      <ul>
        <li><%= link_to "My Check Ins", check_ins_path %> | </li>
        <li><%= link_to "Roasts", roasts_path %></li>
      </ul>
    </nav>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
